<script>
    function fillForm(obj, form) {
        var values = getValuesTable(obj);
        setValuesForm(values, form);
    }

    function getValues(obj, param) {
        return ($(obj).parents("tr").find("td:nth-child(" + param + ")").html());
    }

    function getValuesTable(obj) {

        var values = [];
        values.push(getValues(obj, 1));
        values.push(getValues(obj, 2));
        values.push(getValues(obj, 3));
        return values;
    }

    function setValuesForm(values, form) {

        [id, name, email] = values;

        document.getElementById("input" + form + "ID").value = id.trim(); // Removendo espaços
        document.getElementById("input" + form + "Name").value = name.trim();
        document.getElementById("input" + form + "Email").value = email.trim();

    }
</script>