<div class="modal fade" id="modal-deletar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deletar Usuário</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{link_rmUser}}" method="post" id="formDeletarUsuario" novalidate="novalidate">
                <div class="modal-body">
                    <input type="hidden" name="{{csrf.nameKey}}" value="{{csrf.name}}">
                    <input type="hidden" name="{{csrf.valueKey}}" value="{{csrf.value}}">
                    <div class="form-group">
                        <label for="inputDeletarID">ID</label>
                        <input type="text" class="form-control" name="id" id="inputDeletarID" readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputDeletarName">Nome</label>
                        <input type="text" class="form-control" name="name" id="inputDeletarName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputDeletarEmail">Email</label>
                        <input type="text" class="form-control" name="email" id="inputDeletarEmail" readonly>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-danger">Deletar</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>